<div *ngIf="!isMobileView">

    <div class="fixed-top">
        <app-header></app-header>
    </div>
    <div class="wrapper" style="margin-top: 47px;">
        <!-- Sidebar  -->
        <!-- <app-header></app-header> -->
        <div class="fixed-sidebar">
            <app-sidebar [type]="'teacher'"></app-sidebar>
        </div>
        <div id="content" class="courseContent " >
            <app-common-message [type]="'teacher'" [isMobileView]="isMobileView"></app-common-message>
        </div>
    </div>
</div>

<div *ngIf="isMobileView">
    <app-header></app-header>
    <app-common-message [type]="'teacher'" [isMobileView]="isMobileView"></app-common-message>
    <app-footer [type]="'teacher'"></app-footer>

</div>