<div class="d-flex flex-wrap pt-3" style="padding-bottom: 80px;">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-5 ">
            <div class="row m-0">
               <h3 *ngIf="!isMobileView"><span>Today</span></h3>
               <h2 *ngIf="isMobileView"><span>Today</span></h2>
            </div>
            <div class="mt-4" *ngFor="let subject of subjectData"  style="background: white; width: 100%;border-radius: 5px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <div class="d-flex justify-content-between p-2">
                    <div>
                        <span style="font-size: 1.5rem;" class="mr-3" *ngIf="type == 'teacher'">{{subject.class}}</span>
                        <span style="font-size: 1.5rem; font-weight: bold;">{{subject.subjectName}}</span>
                        <button style="border-radius: 5px;font-size: 10px;" class="ml-3" *ngIf="type == 'teacher'">+</button>
                    </div>
                    <button class="btn" style="border-radius: 5px;background: #1b2d3f;color: white; width: 100px; height: 25px; font-size: 12px;"  *ngIf="!isMobileView" ><b>Join Now</b></button>
                    <button class="btn" style="border-radius: 5px;background:  #1b2d3f;color: white; width: 60px; height: 20px; font-size: 10px;"  *ngIf="isMobileView" ><b>Join Now</b></button>
                </div>
                <hr style="margin: 0px 5px; border-top:1px solid lightgray; padding-left: 1px;" />
                <div class="d-flex justify-content-between p-2">
                    <span style="font-size: 11px; color: #757575;">Speaker name: {{subject.teacherName}} </span>
                    <span style="font-size: 11px; color: #000000;">{{subject.date}} : {{subject.start}} to {{subject.end}} </span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 pt-5 ">
            <div class="row m-0">
                <h3 *ngIf="!isMobileView"><span>Upcomming</span></h3>
                <h2 *ngIf="isMobileView"><span>Upcomming</span></h2>
             </div>
             <div class="mt-4" *ngFor="let subject of upcoming"  style="background: white; width: 100%;border-radius: 5px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                 <div class="d-flex justify-content-between p-2">
                     <div>
                         <span style="font-size: 1.5rem;" class="mr-3" *ngIf="type == 'teacher'">{{subject.class}}</span>
                         <span style="font-size: 1.5rem; font-weight: bold;">{{subject.subjectName}}</span>
                         <button style="border-radius: 5px;font-size: 12px;" class="ml-3" *ngIf="type == 'teacher'">+</button>
                     </div>
                     <button class="btn" style="border-radius: 5px;background: #1b2d3f;color: white; width: 80px; height: 25px; font-size: 12px;"  *ngIf="!isMobileView" ><b>Join Now</b></button>
                     <button class="btn" style="border-radius: 5px;background: #1b2d3f;color: white; width: 60px; height: 20px; font-size: 10px;"  *ngIf="isMobileView" ><b>Join Now</b></button>
                 </div>
                 <hr style="margin: 0px 5px; border-top:1px solid lightgray; padding-left: 1px;" />
                 <div class="d-flex justify-content-between p-2">
                     <span style="font-size: 11px; color: #757575;">Speaker name: {{subject.teacherName}} </span>
                     <span style="font-size: 11px; color: #000000;">{{subject.date}} : {{subject.start}} to {{subject.end}} </span>
                 </div>
             </div>
    </div>

</div>
