@import "../../../assets/sass/base/mixin";
@import "../../../assets/sass/base/colors";


h1 {
    width: 100%;
    // text-align: center; 
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h1 span {
    // z-index: 100;
    background: #ebecf0;
    padding: 0 15px 0 0;
}

h5 {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
