<div style="padding-left: 15px; padding-right: 15px; padding-top: 1px;">
<div class=" bg-primary1 mt-4 d-flex justify-content-between" style="height: 30px; border-radius: 5px;">
    <h2 style="margin-top: 4px; margin-left: 5px; color: #ffffff; padding: 2px;"><b>Announcement</b></h2>
    <button type="button" class="btn" id="btn1" (click)="incSize()"><img class="m-2" height="20" src="../../../assets/img/arrow-down-sign-to-navigate.svg" alt="img"></button>
    <button type="button" class="btn" id="btn2" (click)="decSize()"><img class="m-2" height="20" src="../../../assets/img/up-arrow.svg" alt="img"></button>    
</div>
    <div class="p-2" id="p-2" style="background: white; width: 100%;border-radius: 5px; height: 66px; overflow-y: auto; ">
        <div class="d-flex flex-column" style="margin: 0px 5px;">
    <div *ngFor="let announcement of announcements">
        <button type="button" class="btn btn-block d-flex m-2 card flex-row card-desing" data-toggle="modal" data-target="#myModal" style="border-radius: 5px;">
            <div  class=" d-flex flex-column annoucement-date-box" style="border-radius: 5px;">
                <span style="font-size: 15px; font-weight: 320;" >{{announcement.date}}</span>
                <span style="margin-top: -5px; font-size: 11px;">{{announcement.month}}</span>
            </div>
            <div class="announcment-card-body d-flex flex-row">
               <span class=" overflow ellipsis">
                <span style="font-weight: bold; font-size: 17px;">{{announcement.msg}} :</span>&nbsp;
                <span style="padding-top: 3px">{{announcement.des}}</span>
            </span>
            </div>
        </button>
        
    </div>
    <div class="modal fade" id="myModal" role="dialog" aria-hidden="true" *ngFor="let announcement of announcements">
        <div class="modal-dialog modal-sm" style="border-radius: 10px; margin:auto; top: 100px; width: 95%; height: auto;" >
          <div class="modal-content" >
            <div class="modal-header" style="height: 50px;">
              <h4 class="modal-title" style="font-size: 18px;"><b>{{announcement.des}}</b></h4>
            </div>
            <div class="modal-body">
            <p id="ac">Announcement from : {{announcement.msg}}</p>
            <p id="ac">Announcement Date : {{announcement.date}} {{announcement.month}}</p>
            <p id="ac">Description : {{announcement.des}}</p><br>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 15px;">Acknowlege</button>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
   <!-- <div class="d-flex card flex-row card-desing">
        <div class="m-2 d-flex flex-column annoucement-date-box">
            <span>8</span>
            <span>Jan</span>
        </div>
        <div class="announcment-card-body">
            <span class="ml-3">School : Annual Function</span>
        </div>
    </div>-->


    <div>
        <ul class="nav nav-tabs bg-primary1 mt-4" id="myTab" role="tablist" style="font-size: 16px; height: 100%; border-radius: 5px;">
            <li class="nav-item" style="margin-right: auto; padding-left: 20px;">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#upcomings" role="tab"
                    aria-controls="home" aria-selected="true"><b>Upcomings</b></a>
            </li>
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#overdue" role="tab"
                    aria-controls="profile" aria-selected="false"><b>Overdue</b></a>
            </li>
        </ul>
    </div>


    <div class="tab-content" id="myTabContent" style="background-color: #ffffff; padding-top: 5px;">
        <div class="tab-pane fade show active" id="upcomings" role="tabpanel" aria-labelledby="home-tab" >
            <div class="scrollmenu">
                <div *ngFor="let upcoming of upcomings" style="padding: 0%; padding-left: 10px; padding-bottom: 10px;">
                <button type="button" class="btn card card-body text-left" style="background: #f6f4f4; width: 145px; height: 120px; box-shadow: 1px 3px 5px  rgb(129, 128, 128); border-radius: 5px;">
                   <div class="d-flex" style="padding-left: 0%; padding-top: 0%;">
                    <div  class=" d-flex flex-column upcoming-date-box" style="height: 40px; padding-top: 5px;">
                        <span style="font-size: 15px; font-weight: 350;"><b>{{upcoming.date}}</b></span>
                        <span style=" margin-top:-5px; font-size: 11px;">{{upcoming.month}}</span>
                    </div>
                    <div  class=" d-flex flex-column upcoming-type-box" style="height: 40px; padding-top: 5px;">
                        <span ><h4><b>{{upcoming.msg}}</b></h4></span>
                        <span style="font-size: 11px; color: #757575;">{{upcoming.type}}</span>
                    </div>
                  </div>
                  <span class="overflow upcom"><h4><b>{{upcoming.des}}</b></h4></span>
                  <span>&nbsp;</span>
                  <span style="color: #757575;"><b>Endtime : {{upcoming.endtime}}</b></span>
                </button>
              </div>
            </div>

        </div>
        <div class="tab-pane fade show" id="overdue" role="tabpanel" aria-labelledby="home-tab">

            <div class="scrollmenu">
                <div *ngFor="let overdue of overdues" style="padding: 0%; padding-left: 10px; padding-bottom: 10px;">
                <button type="button" class="btn card card-body text-left" style="background: #f6f4f4; width: 145px; height: 120px; box-shadow: 1px 3px 5px  rgb(129, 128, 128); border-radius : 5px;">
                   <div class="d-flex" style="padding-left: 0%; padding-top: 0%;">
                    <div  class=" d-flex flex-column upcoming-date-box" style="height: 40px; padding-top: 5px;">
                        <span style="font-style: ubuntu; font-size: 12px;"><b>{{overdue.date}}</b></span>
                        <span>{{overdue.month}}</span>
                        
                    </div>
                    <div  class=" d-flex flex-column upcoming-type-box" style="height: 40px; padding-top: 5px;">
                        <span ><h4><b>{{overdue.msg}}</b></h4></span>
                        <span style="font-size: 11px; color: #757575;">{{overdue.type}}</span>
                    </div>
                  </div>
                  <span class="overflow upcom"><h4><b>{{overdue.des}}</b></h4></span>
                  <span>&nbsp;</span>
                  <span style="color: #757575;"><b> Due : {{overdue.endtime}}</b></span>
                </button>
              </div>
            </div>
        </div>
    </div>


</div>