// Colors

$color-primary1: rgba(27,45,63,1);
$color-primary2: rgba(53,70,88,1);

$color-grey: rgba(103, 103, 103, 1);
$color-grey-dark: rgba(52, 58, 64, 1);

$color-grey-light: #EBECF0;

$color-success: rgba(82, 209, 145, 1);
$color-error: rgba(234, 85, 85, 1);

// Fonts

$thin: 100;
$extra-light: 200;
$light: 300;
$regular-400: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-900: 900;