.container {
    width: 100%;
    margin: 10px auto; 
}

.progressbar {
    display: flex;
    padding-inline-start: 0px;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 1rem;
    position: relative;
    text-align: center;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 1.5rem;
    position: relative;
    height: 1.5rem;
    content: "";
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}
.progressbar li.current::before {
    transform: scale(1.5);
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 0.6rem;
    left: -50%;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
    background-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}
.progressbar li.done:before {
    border-color: #55b776;
    background-color: #55b776;
}
.progressbar li.done + li:after {
    background-color: #55b776;
}
.progressbar li.inactive:before {
    border-color: #7d7d7d;
    background-color: #7d7d7d;
}
.progressbar li.inactive + li:after {
    background-color: #7d7d7d;
}

.progressbar li.done {
  position: relative;
}

// .progressbar li.done:after {
//   content: " ";
//   display: block;
//   width: 0.3em;
//   height: 0.6em;
//   border: solid white;
//   border-width: 0 0.2em 0.2em 0;
//   position: absolute;
//   left: 4.2em;
//   top: 26%;
//   margin-top: -0.2em;
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
//   z-index:9;
//   background-color: #55b776;
// }