<nav class="navbar navbar-light bg-primary1">
    <div class="nav-link text-center" [routerLink]="getRoute('home')" routerLinkActive="active">
        <img height="18"id="img" src="../../../assets/img/home.svg">
        <img height="18" id="img1" src="../../../assets/img/home (1).svg">
        <br><small>Home</small>
    </div>
    <div class="nav-link text-center" [routerLink]="getRoute('recent')" routerLinkActive="active">
        <img height="18" id="img" src="../../../assets/img/clock.svg">
        <img height="18" id="img1" src="../../../assets/img/clock (1).svg">
        <br><small>Recent</small>
    </div>
    <div class="nav-link text-center" [routerLink]="getRoute('schedule')" routerLinkActive="active">
        <img height="18" id="img" src="../../../assets/img/checked.svg">
        <img height="18" id="img1" src="../../../assets/img/checked (1).svg">
        <br><small>Schedule</small>
    </div>
    <div class="nav-link text-center" [routerLink]="getRoute('message')" routerLinkActive="active">
        <img height="18" id="img" src="../../../assets/img/send.svg">
        <img height="18" id="img1" src="../../../assets/img/send (1).svg">
        <br><small>Message</small>
    </div>
    <div class="nav-link text-center" [routerLink]="getRoute('message')" routerLinkActive="active">
        <img height="18" id="img" src="../../../assets/img/more (1).svg">
        <img height="18" id="img1" src="../../../assets/img/more.svg">
        <br><small>More</small>
    </div>
    <!--<div class="nav-link">
        <div class="dropdown dropup">
            <button class="btn dropdown-toggle  text-center" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img height="18" src="../../../assets/img/brightness_high_24px_rounded.svg" alt="img">
                <br><small style="color: white;">More</small>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">About Us</button>
                <button class="dropdown-item" type="button">Contact Us</button>
                <button class="dropdown-item" type="button">Requests</button>
                <button class="dropdown-item" type="button">Settings</button>
                <button class="dropdown-item" type="button">Privacy Policy</button>
            </div>
        </div>

    </div>-->
</nav>