<nav id="sidebar" class="bg-primary1"  >
    <div class="sidebar-header text-center">
        <div class="school d-flex flex-column" style="padding-top:20px; color:white;">
            <img id="sclogo"  height="50" src="../../../assets/img/school.svg"><br>
            <h3 >DPS - Pune</h3>
            <h3 *ngIf="type == 'student'">9th - B</h3>
            <h4 *ngIf="type == 'student'">code: AsDajs</h4>
            
        </div>

        
    </div>

    <div style="padding-top:70px; background:#1B2D3F; height:calc(100% - 125px);">


        <div class="nav-link" [routerLink]="getRoute('home')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/home.svg">
            <img height="18" id="img1" src="../../../assets/img/home (1).svg">
            <span class="ml-3">Home</span>
        </div>


        <div class="nav-link" [routerLink]="getRoute('recent')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/notification.svg">
            <img height="18" id="img1" src="../../../assets/img/notification (1).svg">
            <span class="ml-3">Recent</span>
        </div>
        <div class="nav-link collapsed " data-toggle="collapse" data-target="#submenu1" [routerLink]="getRoute('schedule')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/calendar.svg">
            <img height="18" id="img1" src="../../../assets/img/calendar (1).svg">
            <span class="ml-3">Schedule</span>
            
        </div>
        <div id="collapse" class="collapse flex-column" id="submenu1" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
                <li class="nav-link" id="li" [routerLink]="getRoute('schedule')" routerLinkActive="active" >Timetable</li>
                <li class="nav-link" id="li1" [routerLink]="getRoute('schedule')" routerLinkActive="active">TT</li>
                <li class="nav-link" id="li" [routerLink]="getRoute('calendar')" routerLinkActive="active" >Calendar</li>
                <li class="nav-link" id="li1" [routerLink]="getRoute('calendar')" routerLinkActive="active">Cal</li>
              </ul>
        </div>
        <div class="nav-link" [routerLink]="getRoute('message')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/chat.svg">
            <img height="18" id="img1" src="../../../assets/img/chat (1).svg">
            <span class="ml-3">Message</span>
        </div>
        <div class="nav-link" [routerLink]="getRoute('more')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/ellipsis.svg">
            <img height="18" id="img1" src="../../../assets/img/ellipsis (1).svg">
            <span class="ml-3">More</span>
        </div>
    </div>
</nav>