<nav id="sidebar" class="bg-primary2" >
    <div class="sidebar-header text-center" >
        <div class="header" style="color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid;">
            <h2 style="font-size:28px">9th - B</h2>
            <h4>code: AsDajs</h4>
        </div>
        <div class="school d-flex flex-row" style="padding-top: 20px;
        color: white;">
            <img id="sclogo" style="padding-left: 10px;" height="40" src="../../../assets/img/school-campus.svg">
            <h3 style="padding-left: 20px; margin-top: 18px;">DPS - Pune</h3>
            
        </div>
    </div>

    <div style="padding-top: 70px;
    background: #788490;
    height: calc(100% - 125px);">


        <div class="nav-link" [routerLink]="getRoute('home')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/home.svg">
            <img height="18" id="img1" src="../../../assets/img/home (1).svg">
            <span class="ml-3">Home</span>
        </div>


        <div class="nav-link" [routerLink]="getRoute('recent')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/clock.svg">
            <img height="18" id="img1" src="../../../assets/img/clock (1).svg">
            <span class="ml-3">Recent</span>
        </div>
       
        <div class="nav-link collapsed " data-toggle="collapse" data-target="#submenu1" [routerLink]="getRoute('schedule')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/checked.svg">
            <img height="18" id="img1" src="../../../assets/img/checked (1).svg">
            <span class="ml-3">Schedule</span>
            
        </div>
        <div id="collapse" class="collapse flex-column" id="submenu1" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
                <li class="nav-link" id="li" [routerLink]="getRoute('schedule')" routerLinkActive="active" href="#" style="padding-left: 50px;">Timetable</li>
                <li class="nav-link" id="li1" [routerLink]="getRoute('schedule')" routerLinkActive="active" href="#" style="padding-left: 50px;">TT</li>
                <li class="nav-link" id="li" style="padding-left: 50px;">Calander</li>
                <li class="nav-link" id="li1" style="padding-left: 50px;">Cal</li>
              </ul>
            </div>
        <div class="nav-link" [routerLink]="getRoute('message')" routerLinkActive="active">
            <img height="18" id="img" src="../../../assets/img/send.svg">
            <img height="18" id="img1" src="../../../assets/img/send (1).svg">
            <span class="ml-3">Message</span>
        </div>

    </div>


</nav>