<div *ngIf="!isMobileView">
    <div class="fixed-top">
        <app-header></app-header>
    </div>
    <div class="wrapper" style="margin-top: 47px;">
        <!-- Sidebar  -->
        <!-- <app-header></app-header> -->
        <div class="fixed-sidebar">
            <app-sidebar [type]="'teacher'"></app-sidebar>
        </div>

        <!-- Page Content  -->
        <div id="content" class="courseContent ">
            <h1> RECENT </h1>
        </div>
    </div>
</div>

<div *ngIf="isMobileView">
    <app-mobile-header></app-mobile-header>
    <app-footer [type]="'teacher'"></app-footer>
</div>