@import "../../../assets/sass/base/mixin";
@import "../../../assets/sass/base/colors";


.courseMonth {
    font-size: 24px;
    width: 100%;
    text-align: left;
    color: #ffffff;
} 
.ellipsi{
    padding-left: 10px;
  padding-top: 8px;
  text-overflow: ellipsis;
  width: 90%;
  margin-left: -50px;
  text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

